<!-- your html code here -->
<div class="row">
  <div class="col-12 mt-5">
      <h2>Porfolio</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti assumenda unde culpa dolorum minus quaerat accusamus aliquam blanditiis soluta cum voluptatem eos, ab exercitationem et maxime magnam cumque expedita vero!</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card rounded-0 shadow-none border-0 mb-3">
      <img src="https://placehold.co/700x400" class="card-img-top rounded-0" alt="Imagen de ejemplo">
      <div class="card-body">
        <h5 class="card-title">
          <a href="#" class="text-primary text-decoration-none">Project Name</a>
        </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card rounded-0 shadow-none border-0 mb-3">
      <img src="https://placehold.co/700x400" class="card-img-top rounded-0" alt="Imagen de ejemplo">
      <div class="card-body">
        <h5 class="card-title">
          <a href="#" class="text-primary text-decoration-none">Project Name</a>
        </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card rounded-0 shadow-none border-0 mb-3">
      <img src="https://placehold.co/700x400" class="card-img-top rounded-0" alt="Imagen de ejemplo">
      <div class="card-body">
        <h5 class="card-title">
          <a href="#" class="text-primary text-decoration-none">Project Name</a>
        </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      </div>
    </div>
  </div>
</div>
